body {
    margin: 0 auto;
    width: 500px;
    font-family: Verdana, Arial, sans-serif;
    
}

h1 {
    text-align: center;
}

p {
    font-size: 14px;
}

.dish{
    width: 350;
    height: 350px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.cooking{
    margin-bottom: 40px;
}

#backPage{
    display: inline-block;
    margin-left: 20px;
}

#backPage::before {
    content: "\2190  "; /* simple left arrow */
}